<div class="row">
  <div class="col-12">
    <h1>Ng Tabby Form Example</h1>
    <p>Effortlessly add tab index to all of you controls in sequential order by adding the ngTabby directive to your parent <code>form</code> element.</p>
    <p>For controls to be marked, use the default <code>.ngt-control</code> className, or supply your own with the custom control settings.</p>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <form ngTabby>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control ngt-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control ngt-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control ngt-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control ngt-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>

